@font-face {
  font-family: cnreg;
  src: url("../Assets/fonts/ComicNeue-Regular.ttf");
}
body {
  font-family: cnreg;
  overflow-x: hidden;
  font-weight: 500;
}
/*Navbar styles*/
.navbar-brand {
  font-size: 2rem;
  font-weight: 800;
}
.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.1;
}

/*footer styles*/

.footer {
  background-color: #333;
  color: #aaa;
}
.footer h4 {
  color: #fff;
  text-decoration: underline;
}
.follow i {
  font-size: 2rem;
  margin: 2rem;
}
